@import "tailwindcss";

/* ==========================
   Variables Corporativas
========================== */

:root{

  --primary:#0B4DCC;
  --secondary:#1E3A8A;

  --green:#00C853;
  --green-dark:#16A34A;

  --dark:#111827;
  --gray:#6B7280;

  --light:#F8FAFC;
  --white:#FFFFFF;

}

html{
  scroll-behavior:smooth;
}

body{

  margin:0;
  padding:0;

  font-family:Inter,system-ui,sans-serif;

  background:var(--light);

  color:var(--dark);

}